@page
@model MyShelf_Web.Pages.Books.AddBookModel
@{
    
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1">Add Book</label>
    </div>

</div>
<form method="post">
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewBook.BookTitle" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewBook.BookTitle" type="text" class="form-control" />
            <span asp-validation-for="NewBook.BookTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewBook.BookSummary" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewBook.BookSummary" type="text" class="form-control" />
            <span asp-validation-for="NewBook.BookSummary" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewBook.ISBN13" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewBook.ISBN13" type="text" class="form-control" />
            <span asp-validation-for="NewBook.ISBN13" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewBook.BookCoverImage" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewBook.BookCoverImage" type="text" class="form-control" />
            <span asp-validation-for="NewBook.BookCoverImage" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewBook.PageCount" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewBook.PageCount" type="text" class="form-control" />
            <span asp-validation-for="NewBook.PageCount" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewBook.Price" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewBook.Price" type="text" class="form-control" />
            <span asp-validation-for="NewBook.Price" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewBook.AuthorID" class="form-label"></label>
        </div>
        <div class="col-12">
            <select asp-for="NewBook.AuthorID" class="form-control" asp-items="Model.Authors"></select>
            <span asp-validation-for="NewBook.AuthorID" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewBook.PublisherID" class="form-label"></label>
        </div>
        <div class="col-12">
            <select asp-for="NewBook.PublisherID" class="form-control" asp-items="Model.Publishers"></select>
            <span asp-validation-for="NewBook.PublisherID" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewBook.FormatID" class="form-label"></label>
        </div>
        <div class="col-12">
            <select asp-for="NewBook.FormatID" class="form-control" asp-items="Model.Formats"></select>
            <span asp-validation-for="NewBook.FormatID" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewBook.LanguageID" class="form-label"></label>
        </div>
        <div class="col-12">
            <select asp-for="NewBook.LanguageID" class="form-control" asp-items="Model.Languages"></select>
            <span asp-validation-for="NewBook.LanguageID" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label class="form-label">Genres</label>
        </div>
        <div class="col-12">
            @foreach(var g in Model.Genres)
            {
                <input type="checkbox" value="@g.GenreID" class="form-check-input" name="SelectedGenreIDs" checked="@g.IsSelected" />
                <label class="form-label">@g.GenreName</label>
            }
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary">Add Book</button>
        </div>
    </div>
</form>
