@page
@model MyShelf_Web.Pages.Genres.EditGenreModel
@{
}
<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1">Edit Genre</label>
    </div>

</div>
<form method="post">
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="CurrentGenre.GenreName" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="CurrentGenre.GenreName" type="text" class="form-control" />
            <span asp-validation-for="CurrentGenre.GenreName" class="text-danger"></span>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary">Edit Genre</button>
        </div>
    </div>
</form>
