@page
@model MyShelf_Web.Pages.Genres.GenreListModel
@{
}
<form method="post">
<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1">Genre List</label>
    </div>
</div>
<div class="row my-2">
    <div class="col-2">
            <a asp-page="AddGenre" class="btn btn-primary"><i class="bi bi-plus-square"></i> Add Genre</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Genre Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model.GenreList)
        {
            <tr>
                <td>@genre.GenreName</td>
                <td>
                        <a asp-page="./EditGenre" asp-route-id="@genre.GenreID" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>
                        <button onclick="return confirm('Are you sure?')" class="btn btn-danger" asp-route-id="@genre.GenreID" asp-page-handler="Delete"><i class="bi bi-trash3"></i> Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>
</form>
