@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row justify-content-start">
        @foreach(var book in Model.BookCovers)
        {
            <div class="col-4">
                <a asp-page="ViewBook" asp-route-id="@book.BookID">
                    <img src="@book.BookCoverImage" title="@book.BookTitle by @book.BookAuthor" />
                </a>
            </div>
        }
    </div>
</div>
